<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.10/angular.min.js"></script>
    <script>
        var menimApp = angular.module("myApp", []);
        // birinci kontrol basladi
        menimApp.controller("myControl", function ($scope) {

        });

    </script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template Literals</title>
</head>

<body ng-app="myApp">
    <!-- first CONTROL BEGIN -->
    <div class="container mt-5" ng-controller="myControl">
        <div>
            <p>Siz AngularJS-in funksionlligindan istifade ederek bir deyeri artiri ve azaldirsiniz.Ve ishin inceliyi ondan ibaretdir ki bu deyer her hansi bir mueyyen olunmus qiymete beraber oldugunda her hansi bir komponentin css -ne mudaxile edib deyishe bilirsiniz.</p>
        </div>
        <div>
            <button class="btn btn-success" ng-click="deyer =deyer+1">Deyer Artir</button>
            <button class="btn btn-warning" ng-click="deyer =deyer-1">Deyer Azald</button>
        </div>
        <div>{{deyer}}</div>
        <div ng-style=" deyer==5 && {'color':'red' , 'background':'yellow'}">ng-style yoxlamasi</div>
    </div>
    <!-- first CONTROL END -->





    <!-- <script src="app.js"></script> -->
</body>

</html>